@model Nackowskisss.Models.API_ViewModels.AuctionViewModels.AuctionViewModel
@*@model IEnumerable<Nackowskisss.Models.API_ViewModels.AuctionViewModels.SearchResultAuctionViewModel>*@
@{
    ViewData["Title"] = "SearchResult";
}

<div class="page-header">
    <h1>AUCTIONS <small>Search result</small></h1>
</div>
<br />

<h4>SORT AUCTIONS BY:</h4>
@*<input id="Button1" type="button" value="button" onclick="TestAjax()" />

<script type="text/javascript">
    function TestAjax() {
        var Test = [];

        for (var i = 0; i < 5; i++) {
            Test.push({ ID: i, Name: "RJ" });
        }

        $.ajax({
            type: 'POST',
            url: "/Home/SortAuctions",
            contentType: "application/json",
            //data: { Test: JSON.stringify( data) },
            data: JSON.stringify({ Test: Test }),
            success: function (data) {
                alert("Succeded");
            }
        });
    }
</script>*@

<form asp-controller="Home" , asp-action="SortAuctions" method="post">
    <input type="submit"
           id="btnSubmit"
           name="btnSubmit"
           value="@Model.SearchResultAuctionViewModel" />
</form>

<input type="button"
       class="btn btn-default navbar-btn"
       title="SortAuctionByEndDate" value="End date"
       onclick="location.href='@Url.Action("SortAuctions", "Home", new { searchResult = Model.SearchResultAuctionViewModel, sortParam = "endDate" })'" />

<input type="button"
       class="btn btn-default navbar-btn"
       title="SortAuctionByEndDate" value="Start price"
       onclick="location.href='@Url.Action("SortAuctions", "Home", new { sortParam = "startPrice" })'" />

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">SEARCH RESULT</div><!-- Table -->
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Start price</th>
            <th>End date</th>
        </tr>

        @foreach (var auction in Model.SearchResultAuctionViewModel)
        {
            <tr>
                <td>
                    <a asp-controller="Auction"
                       asp-action="ViewAuctionDetails"
                       asp-route-auctionId=@auction.Id>@auction.Title</a>
                </td>
                <td>@auction.StartPrice</td>
                <td>@auction.EndDate</td>
            </tr>
        }
    </table>

    @*<table class="table">
            <tr>
                <th>Title</th>
                <th>Start price</th>
                <th>End date</th>
            </tr>

            @foreach (var auction in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Auction"
                           asp-action="ViewAuctionDetails"
                           asp-route-auctionId=@auction.Id>@auction.Title</a>
                    </td>
                    <td>@auction.StartPrice</td>
                    <td>@auction.EndDate</td>
                </tr>
            }
        </table>*@
    @*@{
            Html.RenderPartial("_DisplayAuctions");
        }*@
</div>